@import "../_mixins/font-face";

// Подключение шрифтов
@include font-face("Playfair_Display", "../font/Playfair_Display/static/PlayfairDisplay-Bold", 700);
@include font-face("Raleway", "../font/Raleway/static/Raleway-Regular", 400);
@include font-face("Raleway", "../font/Raleway/static/Raleway-Bold", 700);
@include font-face("Roboto", "../font/Roboto/Roboto-Light", 300);


// Миксины для шрифтов

@mixin font-playfair-bold {
  font-family: 'Playfair_Display';
  font-weight: 700;
  font-style: normal;
}

@mixin font-roboto-light {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
}

@mixin font-raleway-regular {
  font-family: 'Raleway';
  font-weight: 400;
  font-style: normal;
}

@mixin font-raleway-bold {
  font-family: 'Raleway';
  font-weight: 700;
  font-style: normal;
}
