.faq-form{
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include bp(lg){
    flex-direction: column;
  }

  &__item{
    width: calc(25% - 15px);
    order: -1;
    span{
        @include reset-model;
        @include font-raleway-regular;
        @include font(13px, 16px);
        display: block;
        color: #E7E7E7;
        text-align: center;
    }

    @include bp(lg){
      width: 50%;
      margin-bottom: 15px;
    }

    &_last{

      @include bp(lg){
        order: 1;
      }
    }
  }

  &__input{
    padding: 17px;
    width: 100%;
    text-align: center;
    border: none;
    background-color: rgba(255, 255, 255, .2);
    color: $color-white;
    transition: all 0.2s ease-in;

    &:focus{
      outline: none;
      background-color: rgba(255, 255, 255, .24);
    }

    &::placeholder{
      @include font-raleway-regular;
      @include font(14px, 27px);
      color: #BEBEBE;
    }
  }
}