.footer{
  padding: 72px 10px 60px;
  background-color: #2D343C;

  &__nav{
    display: flex;
    justify-content: space-between;

    @include bp(lg){
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }

  &__sublist{
    margin-top: 20px;
  }

}