.section__number{
  @include reset-model;
  @include font-playfair-bold;
  @include font(400px, 533px);
  position: absolute;
  top: -60px;
  color: $color-white;
  opacity: 0.02;

  &_right{
    right: -53%;
    transform: translateX(-50%);
  }

  &_left{
    transform: translateX(-50%);
  }

  &_map{
    top: 0;
  }

  &_middle{
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

}