.watch-form{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;

  @include bp(sm){
    flex-direction: column;
  }

  &__item{
    width: calc(50% - 15px);
    margin-bottom: 35px;
    order: 1;

    &_last{
      @include bp(sm){
        order: 2;
      }
      
    }

    @include bp(sm){
      width: 100%;
      margin-bottom: 20px;
    }

    span{
        @include reset-model;
        @include font-raleway-regular;
        @include font(13px, 16px);
        display: block;
        color: #E7E7E7;
        text-align: center;

        @include bp(sm){
          max-width: 255px;
          margin: 0 auto;
        }
        
    }
  }

  &__input{
    padding: 17px;
    width: 100%;
    text-align: center;
    border: none;
    background-color: rgba(255, 255, 255, .2);
    color: $color-white;
    transition: all 0.2s ease-in;

    &:focus{
      outline: none;
      background-color: rgba(255, 255, 255, .24);
    }

    &::placeholder{
      @include font-raleway-regular;
      @include font(14px, 27px);
      color: #BEBEBE;
    }
  }
}
